.red {
     color: red;
     font-size: 200%;
   }

.post {
      margin-top: 10px;
      margin-bottom: 50px;
    }

.font {
      font-size: 14px;
      font-family: Courier New;
    }
.date {
      font-size: 20px; 
      font-family: Impact
    }
.left {
      float:left;
      }
.right{
      float:right;
      }
